{% extends '/admin/base.html.twig' %}

{% block body %}
    <title>Liste Des Matches</title>

   
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Datatable</a></li>
                </ol>
            </div>

            <!--***************************start**********************
              *******************************************************-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Liste Des Matches</h4>
                            <a href="{{ path('app_rencontre_new') }}" class="btn btn-outline-success btn-rounded fs-16">+ Nouveau Rencontre</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="calendarTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rencontre in rencontres %}
                                            <tr>
                                                <td>{{ rencontre.adversaire }}</td>
                                                <td>{{ rencontre.score }}</td>
                                                <td>{{ rencontre.daterencontre|date('Y-m-d') }}</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <a href="{{ path('app_rencontre_edit', {'idrencontre': rencontre.getIdrencontre}) }}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="{{ path('app_rencontre_delete', {'idrencontre': rencontre.getIdrencontre}) }}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--******************************************************
              *******************************end*********************-->
        </div>
    </div>
{% endblock %}
