{% extends '/admin/base.html.twig' %}

{% block body %}
<title> {% block title %} Hello Controller! {% endblock %}</title>
  <div class="content-body">
			<div class="container-fluid">

        <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Datatable</a></li>
					</ol>
                </div>
			        <!--***************************start**********************
              *******************************************************-->
            <div class="row">
              <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste contrats</h4>
                                <div class="mb-4">
                                <a href="/newContrat" class="btn btn-outline-success btn-rounded fs-16">+ Nouveau contrat</a>

                            </div>
                        </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                      <table id="example3" class="display" style="min-width: 845px">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Id</th>
                                                  <th>Joueur Id</th>
                                                  <th>Date debut</th>
                                                  <th>Date fin</th>
                                                  <th>Salaire</th>
                                                  <th></th>
                                                  <th>Action</th>
                                                  
                                              </tr>
                                          </thead>
                                          <tbody>
                                            {% for Contrat in list %}
                                              <tr>
                                                  <td><img class="rounded-circle" width="60" src="http://localhost/Images/Joueurs/{{ Contrat.getjoueur().getImagepath() }}" alt=""></td>
                                                  <td>{{ Contrat.getContratId() }}</td>
                                                  <td>{{ Contrat.getjoueur().getId() }}</td>
                                                  <td>{{ Contrat.getDateDebut()| date }}</td>
                                                  <td>{{ Contrat.getDateFin() | date }}</td>
                                                  <td>{{ Contrat.getSalaire() }}</td>
                                                  <td>
                                                  <form method="POST" action="{{ path('Contrat_PDF', {id: Contrat.getContratId}) }}">
                                                    <button type="Submit" class="btn btn-rounded btn-success">
                                                      <span class="btn-icon-start text-success">
                                                        <i class="fa fa-upload color-success"></i>
                                                      </span>générer PDF
                                                    </button>
                                                  </form>
                                                  
                                                  <td>
                                                    <div class="d-flex">
                                                      <a href="{{ path('Contrat_edit', {id: Contrat.getContratId}) }}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                      <a href="{{ path('Contrat_delete', {id: Contrat.getContratId}) }}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                    </div>												
                                                  </td>
                                              {% endfor %}
                                              </tr>
                                          </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <!--******************************************************
              *******************************end*********************-->
      </div>
    </div>
{% endblock %}